

img {
  border-radius: 10px;
}

.detailsContainer{
 display: flex;
 justify-content: space-around;
 align-items: center;
 width: 90vw;
 border-radius: 10px;
 height: fit-content;


}

.moviePoster,.movieDetails{
    padding: 10px;
    margin: 8px;
    border-radius: 10px;
    background-color: #141414;
    opacity: 0.95;
    color: white;
}

.movieDetails {
    font-size: 1vw;
    width: 30vw;
    text: fit-content;
    height: fit-Content;
}

.movieDetails h3 {
  width: 30vw;
  height: 10vh;
  overflow: auto;
}